@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'Montserrat', sans-serif;
}

body{
    background: #585c68 ;
    font-size: 14px;
    line-height: 22px;
    color: #555555;
    display: flex;
    justify-content: center;
}

.bold{
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
}

.semi-bold{
    font-weight: 500;
    font-size: 16px;
}

.resume{
   /* width: 800px;
    height: auto;
    display: flex;
    margin: 50px auto;
    */
    position: relative;
   
    max-width: 1000px;
    min-height: 100px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

.resume .resume_left{
   
    background: #0bb5f4;
    padding: 40px;
}



.resume .resume_left .resume_profile{
    position: relative;
    width: 280px;
    height: 280px;
    border-radius: 50%;
    overflow: hidden;
   text-align: center;
   align-items: center;
   justify-content: center;
}

.resume .resume_left .resume_profile img{
    top: 0;
    left: 0;
    width: 100%;
    object-fit: cover;
    height: 100%;
    position: absolute;
}

.resume .resume_left .resume_content{
    padding: 0 25px;
}

.resume .title{
    margin-bottom: 20px;
}

.resume .resume_left .bold{
    color: #fff;
}

.resume .resume_left .regular{
    color: #b1eaff;
}

.resume .resume_item{
    
    padding: 25px 0;
    border-bottom: 2px solid #b1eaff;
}
ul li .li_wrap{
    text-align: center;
    align-items: center;
    display: flex;
}

.resume .resume_left .resume_item:last-child,
.resume .resume_right .resume_item:last-child{
    border-bottom: 0px;
}

.resume .resume_left  ul li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.resume .resume_left  ul li:last-child{
    margin-bottom: 0;
}

.resume .resume_left ul li .icon{
    width: 35px;
    height: 35px;
    background: #fff;
    color: #0bb5f4;
    border-radius:50% ;
    margin-right: 15px;
    font-size: 16px;
    position: relative;
}

.resume .icon i,
.resume .resume_right .resume_hobby ul li i{
    position: absolute;
    top :50%;
    left:50%;
     transform: translate(-50%,-50%);
}

.resume .resume_left ul li  .data{
    color: #b1eaff;
}

.resume .resume_left .resume_skills ul li{
    color: #b1eaff;
    justify-content: space-between;
}

.resume .resume_left .resume_skills ul li .skill_name{
    width: 25%;
}

.resume .resume_left .resume_skills ul li .skill_progress{
width: 60%;
margin: 0 5px;
height: 5px;
background: #009df9;
position:relative ;
}

.resume .resume_left .resume_skills ul li .skill_per{
    width: 15%;
}

.resume .resume_left .resume_skills ul li .skill_progress span{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #fff;
}

.resume .resume_right{
    width: 520px;
    background: #fff;
    padding: 25px;
}

.resume .resume_right .bold{
    color: #0bb5f4;
}

.resume .resume_right .resume_work ul,
.resume .resume_right .resume_education ul{
    padding-left: 40px;
    overflow: hidden;
}

.resume .resume_right ul li{
    position: relative;
}

.resume .resume_right ul li .date{
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 15px;
}

.resume .resume_right ul li .info{
   margin-bottom: 20px; 
}
.resume .resume_right ul li:last-child .info{
    margin-bottom: 0;
}

.resume .resume_right .resume_work ul li:before,
.resume .resume_right .resume_education ul li:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -25px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    border: 2px solid #0bb5f4;
}

.resume .resume_right .resume_work ul li:after,
.resume .resume_right .resume_education ul li:after{
    content: "";
    position: absolute;
    top: 14px;
    left: -21px;
    width: 3px;
    height: 115px;
    background: #0bb5f4;
}

.resume .resume_right .resume_hobby ul{
    display: flex;
    justify-content: space-between;
}

.resume .resume_right .resume_hobby ul li{
    width: 80px;
    height: 80px;
    border: 2px solid #0bb5f4;
    border-radius: 50%;
    position: relative;
    color: #0bb5f4;
}

.resume .resume_right .resume_hobby ul li i{
    font-size: 30px;
}

.resume .resume_right .resume_hobby ul li:before{
content: "";
position: absolute;
top: 40px;
right: -52px;
width: 50px;
height: 2px;
background: #0bb5f4;
}

.resume .resume_right .resume_hobby ul li:last-child:before{
    display: none;
}
/**/
.button {
    margin-bottom: 20px;
    background-color: white;
    border: 0;
    width: 200px;
    padding: 15px 0 15px 0;
    border-radius: 100px;
    font-family: 'Roboto Condensed', cursive;
    transition-duration: 0.3s;
    transition-property: color, background-color;
    -webkit-box-shadow: 6px 7px 5px 3px rgba(0,0,0,0.73); 
    box-shadow: 6px 7px 5px 3px rgba(0,0,0,0.73);
    cursor: pointer;
}

.button:hover{
color: white;
background-color: black;
}

.resume_right .resume_item:hover {

    background: rgb(215, 237, 247);
    border-radius: 50px 50px;
    padding: 10px 20px;
    transition: 0.7s;
}